*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

/*
.card__main{
	display: grid;
	grid-template-rows: 60% 40%;
	grid-template-columns: 50%;
	height: 80vh;
	width: auto;

}
.card__action{
	grid-column: 2;
	grid-row: 2;

}
.card__image{


  grid-column:1;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 3% 44.5% 40.5% 7%;
  grid-template-rows: 25% 10%;
  background:brown;
  border-radius:3px;
  border: .5rem solid white; 

}

.card__data{
	grid-row: 1;
	grid-column: 2;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows:auto;
	background:grey;
	border: 1px solid black;
	height: 100%;
	width: 100%;
}
.card__data--tr{
	grid-row: 1;
	grid-column: 2;
	background:grey;
	border: 1px solid black;
	height: 100%;
	width: 100%;
}
.card__data--name{
	font-size:1.3rem;
	border: 1px solid white;
	width: 100%;
	grid-column: 1/3;
	align-self: center;
	background: lightgrey;
}

.card__data--cost{
	color: white;
	grid-row:2;
	grid-column: 2;
		
}
.card__data--set{
	color: pink;
}
.card__data--type{
	color: yellow;
	grid-row: 2;
	grid-column:1;
}
.card__data--desc{
	color: green;
	background:tan;
	height: 6rem;
	grid-column:1/3;
	grid-row: 3;
*/
.main{
	height: auto;
	width: auto;
	display: grid;
	justify-content: center;
	grid-template-rows: 3rem 3rem 3rem;
	grid-template-areas: 
	". . ."
	". main ."
	". main ."
	". . ."
	;
}
.main__test{
	grid-area: main;
	display: grid;
	grid-template-rows:auto;
	grid-template-areas: 
	"select select"
	"list image"
	"list image"
	"list image"
	;
	background: #3b6064;
	height: 80vh;
	box-shadow: 0 0 1.4rem #3b6064;
	width: 60vw;
}
.img{
	grid-area:image;
	overflow: hidden;
	width: 23vw;
}
.images{
	height: 100%;

}

.deck{
	font-size: 2rem;
	text-align: center;
}
.select{
	grid-area:select;
	height: 4rem;
	background: #3b6064;
	width: 60vw;
	display:flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size:2rem;
	text-align: center;


}
.select__ul{
	display: flex;
}

.list{

	font-size: 2rem;
	grid-area: list;
	background: #87BBA2;
	width: 36.2vw;



}
.option{
	color:white;
	padding: 1rem;
	text-decoration: none;
	list-style: none;
	display: none;
	font-size: 2rem;
}

.list__ul{
	padding: 0;
}
.list__li{
	font-size: 1.8rem;
	display: block;
	height: 2.5rem;
	background: lightblue;
	width:100%;
	border-bottom: 1px solid white;
	list-style: none;
	padding-left: 2rem;
	color: white;

}
.list__li:hover{
	background: #17B0A2;
}